.o_blockUI {
    z-index: $zindex-popover !important;

    &:not(.o_blockUI_invisible) {
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        background: rgba(#000, .5);
        color: #fff;
    }

    &:not(.o_blockUI_reset_cursor) {
        cursor: wait;
    }
}
