.login-overlay {
    background: {
        size: cover;
        attachment: fixed;
        color: var(--homeMenu-bg-color, #{$o-gray-200});
        image: var(--homeMenu-bg-image, url("/hr_attendance/static/img/background-light.svg"));
    }
    .timer-hours{
        font-variant-numeric: tabular-nums;
    }
}

.screen-login-header {
    .screen-login-logo {
        img {
            height: $pos-navbar-height;
        }
    }
    .fade-effect {
        animation-name: fade-in;
        animation-duration: 2.5s;
    }
    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.pos-logo {
    height: $pos-navbar-height / 1.5;
    min-width: $pos-navbar-height * 2;
    background-image: var(--navbar-logo, url("/web/static/img/odoo_logo.svg"));
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
